.date-nav {    
    background-color: rgb(173, 216, 230, .8);
    padding: .3rem .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.date-button {
    padding: .3rem 1rem;
    border: none;
    background-color: orange;
    border-radius: 5px;
}