.month-component {
    height: 100%;
    width: 100%; 
    margin-top: 1rem;          
    text-align: center;  
    
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    transition: 2s ease;
    
}

/* .month-component.active {
    border: solid 2px lightgray;
    background: whitesmoke;
    
            
    animation-duration: .5s;
    animation-name: slidein;
    animation-iteration-count: 1;
    

}

@keyframes slidein {

    from {
        transform: translateY(100vh);
    }    

    to {
        transform: translateY(0vh);
    }
    
      
}


@keyframes slideout {

    from {
        transform: translateY(0vh);
    }    

    to {
        transform: translateY(-80vh);
        background-color: red;
    }
    
      
}  */

/* .month-component.active {
    animation-duration: .5s;
    animation-name: slideout;
    animation-iteration-count: 1;
    transition: 2s;  

}



 

