.content-container {
    width: 100%;
    height: 90%;   
    transform: translateY(100%);    
    transition: 0.3s ease-in-out;
    position: relative;         
}

.content-container.active {  
    width: 100%;
    height: 90%; 
    transition: 0.3s ease-in-out;
    transform: translateY(0);
    animation-name: slideIn;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    
}

.content-container.hide {    
  background-color: lightblue;    
  transform: translateY(110%);
  opacity: 0.2;
}



@keyframes slideIn {
    from {
      border: solid 1px lightgray;
      background-color: lightblue;
      opacity: 0.2;
      translate: 0 150vw;
      scale: 97% 1;      
    }
  
    to {
      opacity: 1;
      translate: 0 0;
      scale: 100% 1;      
    }
  }

  
  

