.hamburger {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;    
    gap: 2px;   
    width: 30px;
}

.hamburger.active {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;    
    gap: 2px;   
    width: 30px;
}

.hamburger.active .patty:nth-child(1) {    
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .patty:nth-child(2) {
    opacity: 0;
}

.hamburger.active .patty:nth-child(3) {
    opacity: 0;
}

.hamburger.active .patty:nth-child(4) {
    opacity: 0;
}

.hamburger.active .patty:nth-child(5) {    
    transform: translateY(-8px) rotate(-45deg);
}

.patty {    
    background-color: gray;    
    height: 2px;
    width: 90%;    
    border-radius: 1px;
    -webkit-transition: all 0.3s ease-in-out;
    transition:  all 0.3s ease-in-out;
}



li {
    margin: .4rem .5rem;
    padding: .3rem .4rem;
    border-bottom: solid 1px whitesmoke;
}

li:first-child {
    margin-top: 1.5rem;
    border-top: solid 1px whitesmoke;
}

li:last-child {
    margin-bottom: 1.5rem;
}

.burger-menu {
    background-color: rgb(173, 216, 230, .2);
    border-bottom: solid 1px lightslategray;
    border-right: solid 1px lightslategray;
    border-top: solid 1px lightslategray;
    width: 30vw;
    text-align: center;
    position: fixed;   
    left: -100%; 
    top: 2%;
    
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;    
    list-style: none;
    gap: 1rem;  
    transition: 0.4s;  

}

.burger-menu li {
    background-color: rgb(173, 216, 230, .97);
}

.burger-menu.active {
    background-color: rgb(173, 216, 230, .93);
    
    left: 0;    
    top: 8%;
    
    width: 97vw;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;    
    list-style: none;
    gap: 1rem;  
    transition: 0.3s;  
    
}