.hamburger {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;    
    gap: 2px;
    
    height: 30px;
    width: 30px;
}

.patty {    
    background-color: gray;    
    height: 2px;
    width: 90%;    
    border-radius: 1px;
}